doctype html
html
  head
    meta(charset='utf-8')
    title @kalasoo
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='style.css')
  body
    main.resume
      section#introduction
        article.resume-self#self
          img.logo(src='/img/ming.jpg')
          .title 阴明 Ming Yin
          .sub 🌈 Developer, Hacker, Maker, Crazy Monster!
          .description
            blockquote We can only see a short distance ahead, but we can see plenty there that needs to be done. Alan Turing
            ul.contact-list
              li.contact-list-item
                a(href='/') ming.today
              li.contact-list-item
                a(href='mailto:ym.kalasoo@gmail.com') ym.kalasoo@gmail.com
              li.contact-list-item
                a(href='https://twitter.com/kalasoo') Twitter
              li.contact-list-item
                a(href='https://github.com/kalasoo') GitHub
          
      section#education
        h1.title 教育经历
        .sub Education
        article.resume-education#master
          img.logo(src='/img/cambridge.png')
          .title 剑桥大学计 University of Cambridge
          .sub 算机系计算机科学硕士 MPhil in Advanced Computer Science at Computer Laboratory 
          .time 2013 - 2014
          .description
            p 研究 Generalized Cut Sets 算法，并以最高荣誉毕业。导师 
              a(href='https://www.cl.cam.ac.uk/~tgg22/') Timonthy G. Griffin
        article.resume-education#bachelor
          img.logo(src='/img/cuhk.png')
          .title 香港中文大学 The Chinese University of Hong Kong
          .sub 工程学院信息工程系学士 Bachelor in Information Engineering
          .time 2008 - 2013
          .description
            p 甲等最高荣誉毕业，导师 
              a(href='https://www.ie.cuhk.edu.hk/people/raymond.shtml') Prof. Yeung Wai-Ho, Raymond
              | 。综合成绩 GPA 3.723 / 4.0，专业课成绩 GPA 3.928 / 4.0 🥇
      section#work
        h1.title 工作
        .sub Work
        article.resume-work#bytedance
          img.logo(src='/img/bytedance.png')
          .title 产品经理
          .sub
            a(href='https://bytedance.com') 字节跳动 ByteDance Ltd.
          .time 2019 -
          .description
            p 负责百科、知识图谱
        article.resume-work#xitu
          img.logo(src='/img/xitu.png')
          .title 创始人，CEO
          .sub
            a(href='https://xitu.io') 稀土
          .time 2015 - 2019
          .description
            p 完成
              a(href='https://juejin.im') 掘金社区
              | 第一个版本的开发工作，团队管理最多 50 人，完成三轮（天使、Pre-A、A）累计 3150 万元融资。项目曾入选36氪空间第二期、联想之星8S、微软加速器第十期。
        article.resume-work#gradchef
          img.logo(src='/img/gradchef.png')
          .title 项目创立者
          .sub 毕老师 GradChef
          .time 2013 - 2014
          .description
            p 研究生期间兼职完成，留学生申请国外学校的数据结构化、数据推荐、比较。归国后，项目出售与新通教育。
        article.resume-work#strikingly
          img.logo(src='/img/strikingly.png')
          .title 前端开发
          .sub
            a(href='https://strikingly.com') Strikingly
          .time 2013
          .description
            p Strikingly 是一家 YC 投资的网站生成工具，作为团队第 8 名员工加入，担任前端开发工作。在职期间完成了模版样式、图片缓存优化、组件化搭建工作。
        article.resume-work#strikingly
          img.logo(src='/img/tencent.png')
          .title 前端开发实习生
          .sub 
            a(href='https://tencent.com') 腾讯
          .time 2013
          .description
            p 腾讯内部系统 KM 产品组，参与内部技术管理网站、沟通工具的业务开发与版本升级
        artcle.resume-work#wireless
          .title 研究助理
          .sub Wireless Network Lab II, Dept. IE, CUHK
          .time 2012
          .description
            p 于香港中文大学信息工程学系 Wireless Network Lab II 参与研究。
            ol
              li 设计并分析了 Offline Algorithm for Electric Vehicle Charging Scheduling 算法
              li 通过使用 Polyblock Outer Approximation Algorithm 来优化 MISO 天线系统的能量消耗
              li 使用 Numpy, CVXPOT 及 CVXPY 实现相应算法的模拟程序
        article.resume-work#hksrs
          .title 兼职软件工程师
          .sub Hong Kong Society for Remote Sensing (HKSRS)
          .time 2011 - 2013
          .description
            p 负责政府研究室的网站开发、建立与维护工作